{% extends 'topnov.html' %}	
{% load static %}

		<div class="topnav">
			<img src="enimallogo.jpg" class="toplogo">
			<span class="title">E-nimals</span>
			<a class="aboutus.html">About Us</a>
			<a href="mainpage.html">Adopt</a>
			<a href="facts1.html">Facts</a>
			<a href="topnov.html">Home</a>
		</div>
                <div class="pic"></div>

		<div class="item3">
			<h3>ABOUT US</h3>
			<p>Hi there people! I'm Maria Linda Dinapo. 23 years old. Taking the course Bachelor of Science in Industrial Education major in ICT.</p>
			<p>Just wanted to share, I am also an animal lover. I'm against at animal cruelty. Animals are the cutest species in our world. They deserve to be taking care and loved because I believe animals are taking care of us too.</p>
			<p>This website is continous process of inputting information about animals. Hold on and stay tuned for the updates.</p>
{% endblock %}