{% extends 'topnov.html' %}	
{% load static %}

                <div class="pic1"></div>

		<div class="grid-container">
			<div class="item4">
				<h4>FACTS ABOUT ANIMALS</h4>
				<br>Animals (also known as Metazoa) are multicellular, eukaryotic organisms that belong to the Animalia kingdom. Animals, with a few exceptions, consume organic material, breathe oxygen, can move, reproduce sexually, and go through an ontogenetic stage during embryonic development in which their body consists of a hollow sphere of cells called the blastula. They have complex interactions with one another and with their surroundings, resulting in intricate food webs. Zoology is the scientific study of animals.

				<br><br>The majority of living animal species belong to the clade Bilateria, which has members with bilaterally symmetric body plans. The Bilateria include the protostomes, which include animals like nematodes, arthropods, flatworms, annelids, and mollusks, and the deuterostomes, which include echinoderms and chordates, which include vertebrates. Early animal-like life forms were found in the Ediacaran biota of the late Precambrian. During the Cambrian explosion, which began around 539 million years ago, many modern animal phyla became clearly established in the fossil record as marine species. There are 6,331 groups of genes that are shared by all living animals; these may have evolved from a single common ancestor who lived 650 million years ago.
				
			</div>

			<div class="video1">
				<iframe
				width="560"
				height="315"
				src="https://www.youtube.com/embed/KHK1zbURvUk" title="Amazing facts about animals" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
{% endblock %}
