{% extends 'topnov.html' %}	
{% load static %}

	<div class="video">
			<iframe id="video" src="https://www.youtube.com/embed/1wkPMUZ9vX4?autoplay=1&mute=1&controls=0"></iframe>

		</div>

		<div class="item1">
			<h1>Welcome to E-nimals!</h1>
			<br>Hi there people! 
			<br>This websites contains an educational facts about animals. 
			<br>You'll find cute animals, different types of wild animals, exotic pets, and strange animals here!
			<br>What are you waiting for? Come and explore with me!

			<br><br>“If animals could speak, the dog would be a blundering outspoken fellow; <br>but the cat would have the rare grace of never saying a word too much.”
			<br>― Mark Twain
		</div>
{% endblock %}